<%- include('./includes/header', { title: `Home - Pioneer Reality` }) %>

<main>

    <section class="sell-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2>Why choose pioneer realty to<br> sell your home?</h2>

                    <div class="sell-filter">
                        <ul>
                            <li id="metion-1">
                                <input type="text" placeholder="Location ">
                            </li>
                            <li id="metion-2">
                                <span></span>
                                <input type="text" placeholder="Buy">
                            </li>
                            <li>

                                <select name="cars" id="cars">
                                    <option value="volvo">Min Price</option>
                                    <option value="saab">Two</option>
                                    <option value="mercedes">Three</option>
                                </select>
                            </li>
                            <li><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="sell-switch">
                    <h2>properties for sell</h2>

                </div>
            </div>
        </div>
    </section>

    <section class="first-section11">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6 col-12">
                    <div class="sell-page-section">
                        <span>Sell</span>
                        <h3>Choose the right partner to sell you home</h3>
                        <p>Regatta at Collins Wharf is a currently developing project located at one of the most
                            prestigious areas in Melbourne – Central Docklands at the Victoria Harbour precinct. 
                            Regatta at Collins…</p>
                        <a href="#">Request a property appraisal</a>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="sell-one-bg">
                        <a href="#">view properties detail</a>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class="first-section11">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6 col-12">
                    <div class="sell-two-bg">
                        <a href="#">view properties detail</a>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="sell-page-section">

                        <h3>Experience an exclusive approach with Jellis Craig First</h3>
                        <p>Regatta at Collins Wharf is a currently developing project located at one of the most
                            prestigious areas in Melbourne – Central Docklands at the Victoria Harbour precinct. 
                            Regatta at Collins…</p>
                        <a href="#">Request a property appraisal</a>
                    </div>
                </div>



            </div>
        </div>

    </section>

    <section class="first-section11">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6 col-12">
                    <div class="sell-page-section">
                        <span>Sell</span>
                        <h3>Our local and international specialists</h3>
                        <p>Regatta at Collins Wharf is a currently developing project located at one of the most
                            prestigious areas in Melbourne – Central Docklands at the Victoria Harbour precinct. 
                            Regatta at Collins…</p>
                        <a href="#">Request a property appraisal</a>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="sell-three-bg">
                        <a href="#">view properties detail</a>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class="first-section11">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6 col-12">
                    <div class="sell-four-bg">
                        <a href="#">view properties detail</a>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="sell-page-section">

                        <h3>Our vast network</h3>
                        <p>Regatta at Collins Wharf is a currently developing project located at one of the most
                            prestigious areas in Melbourne – Central Docklands at the Victoria Harbour precinct. 
                            Regatta at Collins…</p>
                        <a href="#">Request a property appraisal</a>
                    </div>
                </div>



            </div>
        </div>

    </section>

    <section class="first-section11">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6 col-12">
                    <div class="sell-page-section">
                        <span>Sell</span>
                        <h3>Our exceptional results</h3>
                        <p>Regatta at Collins Wharf is a currently developing project located at one of the most
                            prestigious areas in Melbourne – Central Docklands at the Victoria Harbour precinct. 
                            Regatta at Collins…</p>
                        <a href="#">Request a property appraisal</a>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="sell-five-bg">
                        <a href="#">view properties detail</a>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class="sellpage-place">
        <div class="container">
            <div class="row g-5">
                <h2 class="motion-h2">places we loved</h2>

                <div class="col-12 col-md-4">
                    <div class="custom-place">
                        <img src="images/sell/sell-1.png" class="img-fluid" alt="img">

                    </div>
                    <div class="custom-place-1">
                        <h4>110/25-33 Wills Street, Melbourne VIC 3000</h4>
                        <p><i class="fa-sharp fa-solid fa-location-dot"></i> Wills Court, 25-33, Wills Street,
                            Melbourne, City of Melbourne, Victoria, 3000, Australia</p>
                        <h5>From $375,000- $395,000</h5>
                        <ul>
                            <li><img src="images/icon/bed.png" class="img-fluid" alt="img"><span>1 bed</span></li>
                            <li><img src="images/icon/bed.png" class="img-fluid" alt="img"><span>2 bed</span></li>
                            <li><img src="images/icon/square.png" class="img-fluid" alt="img"><span>1200 sqft</span>
                            </li>
                        </ul>
                        <div class="sell-place-holder">

                            <ul>
                                <li><span>for sell</span></li>
                                <li>
                                    <ul>
                                        <li><a href="#"><img src="images/icon/next-tap.png" alt="img"></a></li>
                                        <li><a href="#"><img src="images/icon/copypest.png" alt="img"></a></li>
                                        <li>
                                            <a href="#"><img src="images/icon/heart.png" class="img-fluid"
                                                    alt="img"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <div class="custom-place">
                        <img src="images/sell/sell-2.png" class="img-fluid" alt="img">

                    </div>
                    <div class="custom-place-1">
                        <h4>110/25-33 Wills Street, Melbourne VIC 3000</h4>
                        <p><i class="fa-sharp fa-solid fa-location-dot"></i> Wills Court, 25-33, Wills Street,
                            Melbourne, City of Melbourne, Victoria, 3000, Australia</p>
                        <h5>From $375,000- $395,000</h5>
                        <ul>
                            <li><img src="images/icon/bed.png" class="img-fluid" alt="img"><span>1 bed</span></li>
                            <li><img src="images/icon/bed.png" class="img-fluid" alt="img"><span>2 bed</span></li>
                            <li><img src="images/icon/square.png" class="img-fluid" alt="img"><span>1200 sqft</span>
                            </li>
                        </ul>
                        <div class="sell-place-holder">

                            <ul>
                                <li><span>for sell</span></li>
                                <li>
                                    <ul>
                                        <li><a href="#"><img src="images/icon/next-tap.png" alt="img"></a></li>
                                        <li><a href="#"><img src="images/icon/copypest.png" alt="img"></a></li>
                                        <li>
                                            <a href="#"><img src="images/icon/heart.png" class="img-fluid"
                                                    alt="img"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <div class="custom-place">
                        <img src="images/sell/sell-3.png" class="img-fluid" alt="img">

                    </div>
                    <div class="custom-place-1">
                        <h4>110/25-33 Wills Street, Melbourne VIC 3000</h4>
                        <p><i class="fa-sharp fa-solid fa-location-dot"></i> Wills Court, 25-33, Wills Street,
                            Melbourne, City of Melbourne, Victoria, 3000, Australia</p>
                        <h5>From $375,000- $395,000</h5>
                        <ul>
                            <li><img src="images/icon/bed.png" class="img-fluid" alt="img"><span>1 bed</span></li>
                            <li><img src="images/icon/bed.png" class="img-fluid" alt="img"><span>2 bed</span></li>
                            <li><img src="images/icon/square.png" class="img-fluid" alt="img"><span>1200 sqft</span>
                            </li>
                        </ul>
                        <div class="sell-place-holder">

                            <ul>
                                <li><span>for sell</span></li>
                                <li>
                                    <ul>
                                        <li><a href="#"><img src="images/icon/next-tap.png" alt="img"></a></li>
                                        <li><a href="#"><img src="images/icon/copypest.png" alt="img"></a></li>
                                        <li>
                                            <a href="#"><img src="images/icon/heart.png" class="img-fluid"
                                                    alt="img"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </section>

    <section class="yesin-sellinp">
        <div class="container">
            <div class="row  justify-content-end align-items-center">
                <div class="col-md-6 col-12">
                    <div class="sell-suburb">
                        <h2>Data that shapes your suburb</h2>
                        <p>Discover how your suburb compares with local property data made easy in our Jellis Craig
                            Suburb Reports. Find out about sales data, market trends, rental yields and much more from
                            over 350 suburbs across the Jellis Craig footprint.</p>
                        <a href="#">Access your report</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faqs">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="motion-faqs">

                        <h2 class="intro-vert"><span>Frequently</span> Asked Questions</h2>
                        <div class="accordion-container faq-item">
                            <div class="accordion-item">
                                <div class="accordion-item-header">
                                    <h2>01    What is the difference between a real estate agent and a real estate broker?</h2>
                                    <img src="Assets/images/up-icon.svg" alt="">
                                </div>
                                <div class="accordion-item-body">
                                    <div class="accordion-item-body-content">
                                        <p> Most states require real estate sales professionals to be licensed by the
                                            state, so that they can control education and experience requirements and
                                            have a central authority to resolve consumer problems. The terminology used
                                            to identify real estate professionals varies a little from state to state.
                                            Brokers are generally required to have more education and experience than
                                            real estate salespersons or agents. The person you normally deal with is a
                                            real estate agent or salesperson. The salesperson is licensed by the state,
                                            but must work for a broker. All listings are placed in the broker’s name,
                                            not the salesperson’s. A broker can deal directly with home buyers and
                                            sellers, or can have a staff of salespersons or agents working for him or
                                            her.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-header">
                                    <h2>02   Why should I use a real estate salesperson?</h2>
                                    <img src="Assets/images/up-icon.svg" alt="">
                                </div>
                                <div class="accordion-item-body">
                                    <div class="accordion-item-body-content">
                                        <p> No fuss, all flavour! Your FeelGood cup doesn't discriminate – it happily
                                            welcomes both hot and cold drinks without a peep. Plus, every sip stays true
                                            to taste, no lingering ghosts of drinks past. Easy peasy clean, happy taste
                                            buds – that's the FeelGood way!</p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-header">
                                    <h2>03   I have a family friend who is a Realtor. I like her and she is a help but
                                        she gives me one price to sell my hom for and I think it is too low. So I called
                                        another agent who suggested a price more in line with my expectations. Who do I
                                        choose?</h2>
                                    <img src="Assets/images/up-icon.svg" alt="">
                                </div>
                                <div class="accordion-item-body">
                                    <div class="accordion-item-body-content">
                                        <p> No fuss, all flavour! Your FeelGood cup doesn't discriminate – it happily
                                            welcomes both hot and cold drinks without a peep. Plus, every sip stays true
                                            to taste, no lingering ghosts of drinks past. Easy peasy clean, happy taste
                                            buds – that's the FeelGood way!</p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-header">
                                    <h2>04  I have to make a choice between an updated home in an older neighborhood or
                                        a newer home in a
                                        more modern neighborhood. The home in the older neighborhood has almost
                                        everything I want and is
                                        much larger, but which makes the most sense as an investment?</h2>
                                    <img src="Assets/images/up-icon.svg" alt="">
                                </div>
                                <div class="accordion-item-body">
                                    <div class="accordion-item-body-content">
                                        <p> No fuss, all flavour! Your FeelGood cup doesn't discriminate – it happily
                                            welcomes both hot and cold drinks without a peep. Plus, every sip stays true
                                            to taste, no lingering ghosts of drinks past. Easy peasy clean, happy taste
                                            buds – that's the FeelGood way!</p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-item-header">
                                    <h2>05   When buying a new home, what upgrades should we go for? What holds the most
                                        value? Do we
                                        upgrade the lot? Pick more square footage in the house? Add an extra bedroom?,
                                        etc.</h2>
                                    <img src="Assets/images/up-icon.svg" alt="">
                                </div>
                                <div class="accordion-item-body">
                                    <div class="accordion-item-body-content">
                                        <p> No fuss, all flavour! Your FeelGood cup doesn't discriminate – it happily
                                            welcomes both hot and cold drinks without a peep. Plus, every sip stays true
                                            to taste, no lingering ghosts of drinks past. Easy peasy clean, happy taste
                                            buds – that's the FeelGood way!</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="main-news-sell-page">
        <div class="container">
            <div class="row pt-4">
                <h2 class="sell802-news">News & Insights</h2>
                <div class="col-md-4">
                    <div class="nehri-sell">
                        <img class="img-fluid" src="images/sell/main-image.png" alt="no-img">
                        <span>FEATURED NEWS</span>
                        <h2>The art of designing romantic gardens with Ashley James</h2>
                        <p><strong>Meet The Maker</strong> September 10</p>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="nehri-sell">
                                <img class="img-fluid" src="images/sell/image1.png" alt="no-img">
                                <span>FEATURED NEWS</span>
                                <h2>Behind the design: A maximalist house by Flack Studio</h2>
                                <p><strong>Meet The Maker</strong> September 10</p>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="nehri-sell">
                                <img class="img-fluid" src="images/sell/image2.png" alt="no-img">
                                <span>FEATURED NEWS</span>
                                <h2>How to create a focal point in a space</h2>
                                <p><strong>Meet The Maker</strong> September 10</p>
                            </div>

                        </div>


                    </div>
                    <div class="row" style="margin-top: 45px;">
                        <div class="col-6">
                            <div class="nehri-sell">
                                <img class="img-fluid" src="images/sell/image3.png" alt="no-img">
                                <span>FEATURED NEWS</span>
                                <h2>Behind the design: A maximalist house by Flack Studio</h2>
                                <p><strong>Meet The Maker</strong> September 10</p>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="nehri-sell">
                                <img class="img-fluid" src="images/sell/image4.png" alt="no-img">
                                <span>FEATURED NEWS</span>
                                <h2>How to create a focal point in a space</h2>
                                <p><strong>Meet The Maker</strong> September 10</p>
                            </div>

                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="sell-page-lopper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="loter">
                        <img src="images/sell/seling-expection.png" class="img-fluid" alt="img">
                        <h2>Explore</h2>
                        <ul>
                            <li>the pioneer mission</li>
                            <li>Services</li>
                            <li>Careers</li>
                            <li>Foundation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <%- include('./includes/footer') %>
</main>